/* static/css/home.css */

body {
  background-color: White;
  font-family: 'Lucida Console', Monaco, monospace;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 25%;
  padding: 2% 2%;
}

.content {
  overflow: auto;
  position: absolute;
  left: 25%;
  top: 0;
  height: 100%;
  width: 75%;
  padding: 2% 3%;
}

.anchor {
  color: inherit;
  text-decoration: none;
  top: -25px;
}

a:focus {
  outline: none;
}

.image img {
  width: 100%;
  max-width: 100%;
  cursor: pointer;
}
