/* static/css/root.css */

body {
  background-color: White;
  font-family: 'Lucida Console', Monaco, monospace;
}

.container {
  max-width: 70%;
}

.navbar {
  position: fixed;
  background-color: White;
  width: 100%;
  max-width: 100%;
  border-radius: 0;
}

.title {
  padding-left: 17%;
  margin-top: -5px;
}

.anchor {
  color: inherit;
  text-decoration: none;
}

.image img {
  width: 100%;
  max-width: 100%;
  cursor: pointer;
}
