
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: WhiteSmoke;
  padding-top: 150px;
  margin-bottom: 50px;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 500px;
}
