<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/home.css')}}"/>
  <!-- JS -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous" defer></script>

  <!-- Page stuff -->
  <title>Dew's Pics</title>
  <link rel="icon" href="http://downloadicons.net/sites/default/files/capital-letter-d-icon-61232.png"/>
</head>
<body>
  <div class="sidebar">
    <h1><strong>Dew's Pics</strong></h1>
    <br>
    {% for imageEntry in index -%}
      <p><a href="#{{imageEntry.filename}}">{{imageEntry.title}}</a></p>
    {% endfor -%}
    <div class="login">
      <p><a href="/manage" class="btn btn-info">Manage</a></p>
    </div>
  </div>
  <div class="content">
    <div class="images">
    {% for imageEntry in index -%}
      <div class="image">
        <h4><a href="#{{imageEntry.filename}}" name="{{imageEntry.filename}}" class="anchor">{{imageEntry.title}}</a></h4>
        <img src="{{url_for('.static', filename='img/' + imageEntry.filename)}}" alt="{{imageEntry.title}}" onclick="toggleShow(this)"/>
        <br><br>
        <p>{{imageEntry.blurb}}</p>
        <br><br><br><br><br>
      </div>
    {% endfor -%}
    </div>
  </div>
  <script>
    lightBoxOn = false;
    function toggleShow(image){
      if(lightBoxOn){
        $('*').css('visibility', 'visible');
        $(document.body).css('background-color', 'White');
      }else{
        $('*').css('visibility', 'hidden');
        $(image).css('visibility', 'visible');
        $(document.body).css('background-color', 'Black');
      }
      lightBoxOn = !lightBoxOn;
    }
  </script>
</body>
</html>
