<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Condensed"/>
  <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/root.css')}}"/>

  <title>Dewey's Favorites</title>
  <link rel="icon" href="{{url_for('.static', filename='res/favicon.png')}}"/>
</head>
<body>
  <div class="container">
    <div class="navbar">
      <h1><a href="/upload">Dewey</a>'s Favorites</h1>
    </div>
  </div>
  <div class="container">
  {% for image in index %}
    <div class="image">
      <br><br><br><br><br>
      <a href="#{{image.filename}}"><h2>{{image.title}}</h2></a>
      <a href="/photo/{{image.filename}}">
        <img src="{{url_for('.static', filename='img/' + image.filename)}}" alt="image.title"/>
      </a>
      <p>{{image.blurb}}</p>
    </div>
  {% endfor %}
  </div>
</body>
</html>
