<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/form.css')}}"/>

  <!-- Page stuff -->
  <title>DewsPics - Upload</title>
  <link rel="icon" href="http://downloadicons.net/sites/default/files/capital-letter-d-icon-61232.png"/>
</head>
<body>
  <div class="container">
    <h1>Upload a photo</h1>
    <form method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="file" id="uploadButton">1. Pick your pic</label>
        <input type="file" name="file" id="file" required/>
      </div>
      <div class="form-group">
        <label for="title">2. Title your pic</label>
        <input type="text" name="title" id="title" class="form-control" placeholder='Pick a nice title. How about "My Lovely Son Andrew"?' required/>
      </div>
      <div class="form-group">
        <label for="blurb">3. Write a blurb about your pic</label>
        <textarea name="blurb" id="blurb" class="form-control" rows="2" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
      <p class="help-block">{{error}}</p>
    </form>
  </div>
  <script>
    document.getElementById('uploadButton').focus();
  </script>
</body>
</html>
